language: php

php:
- 8.0

services:
- docker

notifications:
  email:
  - team@appwrite.io

before_script: composer install --ignore-platform-reqs

script:
- vendor/bin/phpunit --configuration phpunit.xml
- vendor/bin/psalm --show-info=true
